<div class="container">
  <div class="row" v-if="!hideTitle">
    <div class="col-xs-12">
      <h3>Transactions</h3>
    </div>
  </div>

  <div class="row">
    <div
      class="col-sm-6"
      v-repeat="(transactions || $root.$.transactions.items) | orderBy 'createdAt' -1"
    >
      <div class="card">
        <div class="card-header clearfix">
          <span class="label label-primary label-pill">{{amount | currency}}</span>
          <span class="label label-default label-pill" v-if="!hideCategory && categoryId">
            {{$root.$.categories.find(categoryId).name}}
          </span>
          <div class="pull-right">
            <a
              type="button"
              class="btn btn-default btn-sm"
              v-link="{name: 'transaction', params: {id: $data._id}}"
            >&#9998;</a>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              v-on="click: $root.$.transactions.remove($data)"
            >&#10006;</button>
          </div>
        </div>
        <div class="card-block">
          <p class="card-text">
            {{description}}
            <small class="text-muted">{{createdAt | dateFromNow}}</small>
          </p>
        </div>

        <a
          v-if="image"
          v-attr="href: image"
          class="card-img-bottom"
          download="{{description | slugify}}.jpg"
        ><img v-attr="src: image" alt="{{description}}" /></a>
      </div>
    </div>
  </div>
</div>
